@import "tailwindcss";

@theme {
  --color-brand-black: #050505;
}

@layer base {
  body {
    background-color: var(--color-brand-black);
    color: #FFFFFF;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
  }
}